@model FindLocal.Models.BusinessViewModel
@{
    ViewBag.Title = "Index";
}

<!-- Container Part -->
<div class="container content-sm">
    <div class="row">
        <div class="col-md-9">
            <!-- Blog Grid -->
            <div class="blog-grid margin-bottom-30">
                <h2 class="blog-grid-title-lg">@Model.business.name</h2>
                <div class="carousel slide carousel-v2" id="portfolio-carousel">
                    <ol class="carousel-indicators">
                        <li class="rounded-x active" data-target="#portfolio-carousel" data-slide-to="0"></li>
                        @{ var cnt = 1;}
                        @foreach (var src in Model.business.media.images)
                        {
                            <li class="rounded-x" data-target="#portfolio-carousel" data-slide-to="@cnt"></li>
                            cnt++;
                        }

                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="@Model.business.media.featureImage" alt="">
                        </div>
                        @foreach (var src in Model.business.media.images)
                        {
                            <div class="item">
                                <img class="img-responsive" src="@src" alt="">
                            </div>
                        }
                    </div>
                </div>
                <h4>Description:</h4>
                <p>@Model.business.description</p>
                <h4>Business Hours:</h4>
                <p>@Html.Raw(Model.business.businessHours.Replace(",","<br/>"))</p>
            </div>
            <div class="margin-bottom-50">
                <h2 class="title-v4">Location</h2>
                <div id="map" style="height:300px"></div>
            </div>


            <div class="margin-bottom-50">
                <h2 class="title-v4">Related Businesses</h2>
                <div class="row margin-bottom-50">
                    @foreach (var business in Model.relatedBusiness)
                    {
                        <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                            <!-- Blog Thumb v4 -->
                            <div class="blog-thumb-v4">
                                <img class="img-responsive margin-bottom-10" src="@business.media.featureImage" alt="">
                                @Html.ActionLink(business.name, "Index", "Business", new { id = business.id }, null)
                            </div>
                            <!-- End Blog Thumb v4 -->
                        </div>
                    }

                </div><!--/end row-->
            </div>
            <!-- End Blog Thumb v4 -->
            <!-- Blog Comments v2 -->
            <div class="margin-bottom-50">
                <h2 class="title-v4">Comments (@Model.business.comments.Count)</h2>
                <!-- Blog Comments v2 -->
                <div class="row blog-comments-v2">
                    @foreach (var comment in Model.business.comments)
                    {
                        <div class="comments-itself">
                            <h4>
                                @comment.username
                                <span>@comment.date.ToShortDateString() / <a href="#">Reply</a></span>
                            </h4>
                            <p>@comment.text</p>
                        </div>
                        <hr />
                    }

                </div>
                <!-- End Blog Comments v2 -->
            </div>
            <!-- End Blog Comments v2 -->
            <!-- Form -->
            <h2 class="title-v4">Post a Comment</h2>
            <form action="assets/php/sky-forms-pro/demo-comment-process.php" method="post" id="sky-form3" class="sky-form comment-style-v2">
                <fieldset>
                    <div class="row sky-space-30">
                        <div class="col-md-6">
                            <div>
                                <input type="text" name="name" id="name" placeholder="Name" class="form-control bg-color-light">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <input type="text" name="email" id="email" placeholder="Email" class="form-control bg-color-light">
                            </div>
                        </div>
                    </div>
                    <div class="sky-space-30">
                        <div>
                            <textarea rows="8" name="message" id="message" placeholder="Write comment here ..." class="form-control bg-color-light"></textarea>
                        </div>
                    </div>
                    <p><button type="submit" class="btn-u btn-u-default">Submit</button></p>
                </fieldset>
                <div class="message">
                    <i class="rounded-x fa fa-check"></i>
                    <p>Your comment was successfully posted!</p>
                </div>
            </form>
            <!-- End Form -->
        </div>
        <div class="col-md-3">
            <!-- Blog Thumb v3 -->
            @*<div class="margin-bottom-50">
                    <h2 class="title-v4">Blog &amp; Comments</h2>
                    <div class="blog-thumb-v3">
                        <small><a href="#">Evan Bartlett</a></small>
                        <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
                    </div>
                    <hr class="hr-xs">
                    <div class="blog-thumb-v3">
                        <small><a href="#">Jonathan Owen</a></small>
                        <h3><a href="#">Architects plan to stop skyscrapers from blocking out sunlight</a></h3>
                    </div>
                    <hr class="hr-xs">
                    <div class="blog-thumb-v3">
                        <small><a href="#">Susie Lau</a></small>
                        <h3><a href="#">Fashion's first selfies: It was a 16th-century German accountant who started the trend for style blogging</a></h3>
                    </div>
                    <hr class="hr-xs">
                    <div class="blog-thumb-v3">
                        <small><a href="#">John Rentoul</a></small>
                        <h3><a href="#">How to run a country: A 10 point manifesto for leaders who stand – and want to deliver</a></h3>
                    </div>
                    <hr class="hr-xs">
                    <div class="blog-thumb-v3">
                        <small><a href="#">Richard Garner</a></small>
                        <h3><a href="#">Controversial plan to test new primary school pupils infuriates teachers</a></h3>
                    </div>
                </div>*@
            <!-- End Blog Thumb v3 -->
            <!-- Twitter Posts -->
            <div class="margin-bottom-50">
                <h2 class="title-v4">Twitter Posts</h2>
                <a class="twitter-timeline"
                   @{ var twitterHandle = "https://twitter.com/" + Model.business.twitterHandle;}
                   href="@Html.Raw(twitterHandle)"
                   data-tweet-limit="3">
                </a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <!-- End Twitter Posts -->
        </div>
    </div>
</div>
<!--=== End Container Part ===-->
@section scripts
    {
<script>
      function initMap() {
        var busLoc = {lat: @Html.Raw(Model.business.address.latitude), lng: @Html.Raw(Model.business.address.longitude)};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: busLoc
        });
        var marker = new google.maps.Marker({
            position: busLoc,
          map: map
        });
      }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRbgB_gAIeZKN-Wc_soTa6n_xCijGayTY&callback=initMap">
</script>
}