<div class="header-v8 header-sticky">
    <div class="navbar mega-menu" role="navigation">
        <div class="container">            
            <div class="res-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">                    
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/assets/img/logo/FindLocalRed.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="res-container">
                    <ul class="nav navbar-nav">                  
                        <li class="dropdown home">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Barbers and Salons
                            </a>
                            <ul class="dropdown-menu">                            
                                <li>@Html.ActionLink("Barber", "List", "Business", new { id = 1 }, null)</li>
                                <li>@Html.ActionLink("Salon", "List", "Business", new { id = 2 }, null)</li>                                
                            </ul>
                        </li>
                        <li class="dropdown home">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Automotive
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Oil Change","List", "Business", new { id = 4 }, null)                                    
                                </li>
                                <li>@Html.ActionLink("Mechanic", "List", "Business", new { id = 3 },null)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>